body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    margin: 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

.logo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.title {
    padding-top: 10px;
    font-size: 24px;
}

.score {
    display: flex;
    align-items: center;
    font-size: 30px;
}

.score:hover {
    cursor: pointer;
}

.score span {
    margin: 0 5px;
}

#score-x {
    color: #FF6961;
}

#score-o {
    color: #87CEEB;
}

.container {
    display: flex;
    justify-content: center;
    font-size: 50px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 190px);
    grid-gap: 10px;
    background: #333;
    padding: 10px;
    width: fit-content;
}
.grid-item {
    background-color: white;
    width: 190px;
    height: 190px;
    text-align: center;
    line-height: 190px;
}

.unused:hover {
    background-color: #e0e0e0;
    cursor: pointer;
}

.used-x {
    color: #FF6961;
}

.used-o {
    color: #87CEEB;
}

#turnIndicator {
    margin: 50px;
    text-align: center;
    font-size: 40px;
}

#bannerCon {
    top: 350px;
    position: absolute;
    text-align: center;
    width: 100%;
    background: #333333;
    height: 100px;
    font-size: 40px;
    color: #ffffff;
    padding-top: 50px;
}

#reload {
    top: 80px;
    position: absolute;
    text-align: center;
    right: 10px;
    width: 200px;
    background: #333333;
    font-size: 20px;
    padding: 10px;
    display: none;
    color: #ffffff;
}

.clickable {
    cursor: pointer;
}